
@page {
	size: 5in 7in;
	margin: 2cm;
}

body {
	font-family: 'Gentium Book Basic', serif;
}

p {
	orphans:4;
	widows:3;
}

h1 {
	text-align: center;
	padding-top: 1in;
	padding-bottom: 0.5in;
}

h2 {
	padding-top: 0.2in;
}

#zero, #contents {
	page-break-before: right;
}

.author {
	font-size: 130%;
	text-align: center;
}

.auth-desc {
	font-style: italic;
	text-align: center;
}

.source {
	font-size: 90%;
	text-align: center;
	padding-top: 0.5in
}